.formWrapper {
    display: flex;
    gap: 20px;

    margin: 30px 0;
    padding: 20px 0;
    border-top: 1px solid #ddd;
}

.description {
    flex: 1;
    padding-right: 20px;
}

.description h2 {
    margin-bottom: 10px;
}

.form {
    flex: 2;
    margin-top: 20px;
}

.formGroup {
    margin: 10px;
}

.input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

.input.invalidInput {
    border-color: red;
    background-color: #f8d7da;
}

.warning {
    color: red;
    margin-top: 10px;
}

.formGroup textarea {
    resize: none;
}

@media screen and (max-width: 768px) {
    .formWrapper {
        flex-direction: column;
    }

    .description {
        padding-right: 0;
    }
}
