.profile-wrapper {
  font-family: Arial, sans-serif;
}

/* Kapak Fotoğrafı */
.profile-cover {
  width: 100%;
  height: 200px;
  background-size: cover;
  background-position: center;
  position: relative;
}

/* Profil Fotoğrafı */
.profile-image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 3px solid #fff;
  overflow: hidden;
  position: absolute;
  bottom: -60px;
  left: 50%;
  transform: translateX(-50%);
}

.profile-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Kullanıcı Adı */
.profile-name {
  margin-top: 70px;
}

.profile-name h2 {
  font-size: 24px;
  color: #333;
}

.line {
  height: 1px;
  background-color: #ccc;
  width: 100%; /* Line'ı container genişliğine yaymak için */
  margin: 20px 0; /* location ile bio arasındaki mesafeyi ayarlıyoruz */
}

.info-container {
  max-width: 600px;
  text-align: left; /* İçeriği sola hizalama */
  margin: 0 auto; /* İçeriği sayfa ortasına getirme */
  margin-top: 50px;

  /* Flexbox kullanarak öğeleri dikey olarak sıralıyoruz */
  display: flex;
  flex-direction: column; /* Öğeleri dikey hizalamak için */
  align-items: flex-start; /* Üst hizalamayı sağla */
  gap: 20px; /* Paragraflar arasındaki mesafeyi artırıyoruz */
}


/* Biography ve içerik için yatay düzenleme */
.info-item {
  display: flex;
  flex-direction: row; /* Yatayda sıralama */

}

.info-item p {
  font-size: 16px;
  color: #666;
  line-height: 1.5; /* Daha rahat bir okuma için satır aralığını artırma */
  margin-left: 50px; /* Başlık ile içerik arasına boşluk ekliyoruz */
}

.info-item strong {
  width: 100px;
  font-weight: bold;
  color: #333;

}