:root {
    --inputPadding: 8px;
    --inputFontSize: 14px;
    --inputBorder: 1px solid #ccc;
    --buttonWidth: 20%;
    --buttonPadding: 10px 20px;
    --buttonFontSize: 16px;
    --buttonBorderRadius: 4px;
}

.settingsContainer {
    width: 90%;
    padding: 20px;
    padding-bottom: 40px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    text-align: left;
    color: #333;
}

.tabs {
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
}

.tabs button {
    background: none;
    border: none;
    padding: 10px 0;
    font-size: 16px;
    color: #333;
    cursor: pointer;
    position: relative;
    transition: color 0.3s ease-in-out;
}

.tabs button:hover {
    color: var(--primary-color);
}

.tabs button.active {
    color: var(--primary-color);
}

.tabs button.active::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 2px;
    background-color: var(--primary-color);
    width: 100%;
    transform: scaleX(1);
    transition: transform 0.3s ease-in-out;
}

.tabs button.activeTab::after {
    transform: scaleX(1);
    color: var(--primary-color);
}

.tabs button.activeTab {
    color: var(--primary-color);
}

.tabs button::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 2px;
    background-color: var(--primary-color);
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
}

.tabs button:hover::after {
    transform: scaleX(1);
}

.settingsContainer > .content {
    margin-top: -5px;
    padding: 20px;
    min-height: 200px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
    position: relative;
}

.settingsContainer > .content::before,
.settingsContainer > .content::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    height: 1px;
    background-color: #ccc;
}

.settingsContainer > .content::before {
    top: 0;
}

.settingsContainer > .content::after {
    bottom: 0;
}

.settingsContainer > .content form div {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.settingsContainer > .content form div h3 {
    font-size: 16px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.accountTab form div input {
    padding: 8px 8px;
    font-size: 14px;
    width: 40%;
    border: 1px solid #ccc;
}

.editProfileTab form div input,
.timezoneBox {
    padding: 8px 8px;
    font-size: 14px;
    width: 100%;
    border: 1px solid #ccc;
}

.settingsContainer > .content form label {
    margin-top: 2px;
    font-size: 14px;
}

.accountTab .changePasswordButton {
    width: 20%;
    padding: 10px 20px;
    background-color: white;
    color: var(--primary-color);
    border: var(--primary-color) 1px solid;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.3s ease-in-out;
}

.changePasswordButton:hover,
.changePasswordButton.hoverActive {
    background-color: var(--primary-color);
    color: white;
}

.saveChangesContainer {
    display: flex;
    justify-content: flex-start;
    align-items: left;
    margin-top: 50px;
    width: 100%;
}

.saveButton,
.walletButton {
    width: 20%;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.3s ease-in-out;
}

.editProfileTab .saveButton {
    width: 50%;
}

.saveButton:hover,
.walletButton:hover {
    background-color: var(--primary-color-hover);
}

.editProfileTab form {
    display: grid;
    grid-template-columns: 40% 50%;
    column-gap: 10%;
    align-items: start;
}

.biographyBox {
    grid-column: 2;
    height: 250px;
    width: 100%;
    resize: none;
    border: 1px solid #ccc;
}

@media (max-width: 768px) {
    .tabs {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }

    .saveButton,
    .walletButton {
        width: 100%;
    }

    .accountTab .changePasswordButton {
        width: 100%;
    }

    .accountTab form div input {
        width: 100%;
    }

    .editProfileTab .saveButton {
        width: 100%;
    }

    .editProfileTab > form {
        grid-template-columns: 100%;
    }
}
