/* TabBar.module.css */

.tabBar {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    position: relative;
}

.tabBarLine {
    height: 1px;
    width: 100%;
    background-color: #ccc;
    margin: 0;
}

.topLine {
    margin-bottom: 10px;
}

.bottomLine {
    margin-top: 10px;
}

.tabs {
    display: flex;
    padding: 5px;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}

.tab {
    padding: 10px;
    width: 100px;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
}

.tabActive {
    color: var(--primary-color-hover);
}

.indicator {
    position: absolute;
    bottom: 0;
    height: 3px;
    background-color: var(--primary-color-hover);
    transition: left 0.3s ease;
}
