.ForgotPasswordContainer {
    border: 1px solid rgba(137, 43, 226, 0.132);
    background-color: rgba(112, 77, 145, 0.065);
    border-radius: 5px;
    transition: all 0.3s ease;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 600px;
    height: auto;

    padding: 30px;

    font-family: inherit;
}

.ForgotPasswordContainer .upperPart {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    margin-top: -25px;
}

.ForgotPasswordContainer .upperPart .backButton {
    border: none;
    background: none;
    font-size: 2.3em;
    font-weight: bold;
    color: var(--primary-color-hover);

    border-radius: 50%;
    margin-right: 100px;
}

.ForgotPasswordContainer .upperPart .backButton:hover {
    background-color:  rgba(112, 77, 145, 0.065);
    cursor: pointer;
}

.ForgotPasswordContainer .upperPart .title {
    align-self: flex-start;
    font-size: 1.4em;
    font-weight: 600;
}

.ForgotPasswordContainer .knowledge {
    font-weight: 400;
    font-size: 1.2em;
}

.ForgotPasswordContainer form {
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
    width: 100%; 
}

.ForgotPasswordContainer input {
    display: block;
    border: 1px solid var(--primary-color);
    border-radius: 3px;
    color: black;

    width: 100%;
    height: 50px;

    padding: 15px;
    margin-top: 20px;

    font-size: 1.2em;
}

.ForgotPasswordContainer input:hover {
    border: 1px solid var(--primary-color);
}

.finishButton {
    border: 1px solid var(--primary-color);
    border-radius: 1px;
    background-color: var(--primary-color);
    color: white;

    width: 120px;
    height: 50px;

    margin-top: 20px;

    font-size: 1.2em;
}

.finishButton:hover {
    background-color: var(--primary-color-hover);
    cursor: pointer;
}

.finishButton:active {
    background-color: var(--primary-color-click);
}


.ForgotPasswordContainer .divider {
    width: 100%;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.208);
    margin-top: 5px;
    margin-bottom: 3px;
}

.errorMessage {
    font-style: italic;
    color: darkred;
    text-align: center;
    font-family: sans-serif;
    font-size: 1em;
}

@media screen and (max-width: 576px) {
    .ForgotPasswordContainer {
        width: 350px;
        padding: 20px;
    }

    .ForgotPasswordContainer .title {
        margin-top: 3px;
    }

    .ForgotPasswordContainer .upperPart .backButton {
        margin-right: 50px;
    }
}