.body .settingsWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 20px;
    margin-bottom: 20px;
}

.settingsTitle {
    text-align: left;
    width: 85%;
    margin-left: 5%;
}

@media (max-width: 768px) {
    .settingsTitle {
        font-size: 1.5em;
    }

    .settingsWrapper {
        margin-top: 10px;
        margin-bottom: 10px;
        flex-direction: column;
    }
}
