.ValidationEmailContainer {
    border: 1px solid rgba(137, 43, 226, 0.132);
    background-color: rgba(112, 77, 145, 0.065);
    border-radius: 5px;
    transition: all 0.3s ease;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 600px;
    height: auto;

    padding: 30px;

    font-family: inherit;
}

.ValidationEmailContainer input::-webkit-outer-spin-button,
.ValidationEmailContainer input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.ValidationEmailContainer input {
    -moz-appearance: textfield;
    appearance: textfield;
    transition: all 0.3s ease;
}

.ValidationEmailContainer .upperPart {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    margin-top: -20px;
}

.ValidationEmailContainer .upperPart .backButton {
    border: none;
    background: none;
    font-family: Calibri, sans-serif;
    font-size: 2em;
    border-radius: 5px;
    color: var(--primary-color-hover);

    margin-right: 100px;
    transition: all 0.3s ease;
}

.ValidationEmailContainer .upperPart .backButton:hover {
    background-color: rgba(112, 77, 145, 0.065);
    cursor: pointer;
}

.ValidationEmailContainer .upperPart .title {
    align-self: flex-start;
    font-size: 1.4em;
    font-weight: 600;
}

.ValidationEmailContainer .knowledge {
    font-weight: 400;
    font-size: 1.1em;
}

.ValidationEmailContainer .timer {
    align-self: center;

    border: 1px solid white;
    border-radius: 50%;
    background-color: rgba(0, 128, 0, 0.755);
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 120px;
    width: 120px;
    font-size: 3em;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 30px;
}

.ValidationEmailContainer .timerExpired {
    align-self: center;
    color: rgb(184, 19, 19);
    font-size: 0.9em;
    font-weight: 600;
    margin-top: 0;
}

.ValidationEmailContainer form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.ValidationEmailContainer input {
    display: block;
    border: 1px solid var(--primary-color);
    border-radius: 3px;
    color: black;

    width: 100%;
    height: 50px;

    padding: 15px;

    font-size: 1.2em;
}

.ValidationEmailContainer input:hover {
    border: 1px solid var(--primary-color);
}

.continueButton {
    border: 1px solid var(--primary-color);
    border-radius: 1px;
    background-color: var(--primary-color);
    color: white;

    width: 120px;
    height: 50px;

    margin-top: 20px;

    font-size: 1.2em;
    transition: all 0.3s ease;
}

.continueButton:hover {
    background-color: var(--primary-color-hover);
    cursor: pointer;
}

.continueButton:active {
    background-color: var(--primary-color-click);
}

.continueButton:disabled {
    background-color: #ccc;
    border: 1px solid #ccc;
    cursor: not-allowed;
}

.ValidationEmailContainer .divider {
    width: 100%;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.208);
    margin-top: 5px;
    margin-bottom: 3px;
}

.errorMessage {
    font-style: italic;
    color: darkred;
    text-align: center;
    font-family: sans-serif;
    font-size: 1em;
}

@media screen and (max-width: 576px) {
    .ValidationEmailContainer {
        width: 350px;
        padding: 20px;
    }

    .ValidationEmailContainer .title {
        margin-top: 3px;
    }

    .ValidationEmailContainer .upperPart .backButton {
        margin-right: 50px;
    }

    .ValidationEmailContainer .timer {
        height: 100px;
        width: 100px;
        font-size: 2.5em;
    }
}
