.campaign-bar {
    display: flex;
    align-items: flex-start;
    padding: 10px;
}

.campaign-tabs {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

.campaign-tab {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    position: relative;
}

.campaign-tab.active {
    font-weight: bold;
}
.tab.active {
    font-weight: bold;
}

.top-indicator {
    width: 3px;
    height: 80%;
    background-color: var(--primary-color);
    position: absolute;
    right: 0px; /* Sekmenin sağında yer alması için */
    transition: top 0.3s ease;
}

.description-container {
    text-align: left;
    margin-left: 60px;
    margin-top: 30px;
}

.description-container h2 {
    margin-bottom: 30px;
}
.description {
    padding-left: 20px;
    padding-right: 20px;
    /* 
  border: 1px solid #c4c4c4; 
  border-radius: 8px;
  */
}

@media screen and (max-width: 576px) {
    .campaign-tabs {
        display: none;
    }

    .campaign-bar {
        flex-direction: column;
        align-items: center;
    }

    .description-container {
        margin-left: 0px;
    }
}
