/* Cards.module.css */

.cardContainer {
    display: flex;
    flex-wrap: wrap; /* Ensures cards wrap to the next line if too large */
    justify-content: space-between; /* Even spacing between cards and edges */
    margin-left: 100px;
    margin-right: 100px;
}

.card {
    border: none;
    background: none;
    border-radius: 10px;
    display: inline-block;
    overflow: hidden;
    transition: all 0.3s ease;
    position: relative;
    width: 350px;
    padding: 5px;
}

.card:hover {
    background-color: rgba(137, 43, 226, 0.15);
}

.cardImage {
    width: 95%;
    max-height: 200px;
    border-radius: 20px;
    display: block;
    padding: 5px;
    margin: 5px;
}

.cardHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px;
}

.cardProperties {
    display: flex;
    flex-direction: column;
    gap: 3px;
    padding: 2px;
    margin-left: 2px;
}

.cardSubimage {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 10px;
    margin-top: -20px;
}

.cardTitle {
    text-align: left;
    margin-top: 4px;
    margin-bottom: -8px;
    font-size: 1.9em;
    font-family: monospace;
    cursor: pointer;
}

.cardOwner {
    text-align: left;
    margin-top: 1px;
    margin-left: 2px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 0.85em;
}

.cardDeadline {
    font-size: 1em;
    font-family: inherit;
    font-weight: 500;
    margin-top: -16px;
}

.cardDeadline i {
    color: blueviolet;
    margin-right: 5px;
}

.cardDeadline i:hover {
    color: #000000;
}

.cardSavedButton {
    border: none;
    background: none;
    color: rgba(129, 56, 197, 0.195);
    cursor: pointer;
    font-size: 0.5rem;
    margin-top: -40px;
    margin-left: auto;
    margin-right: 15px;
    padding: 10px;
}

.cardSavedButton.saved {
    color: blueviolet;
}

.cardSavedButton:hover {
    color: #000000;
}

.cardSavedButton i {
    font-size: 1.4rem;
}

.cardText {
    text-align: left;
    margin-left: 70px;
    margin-right: 30px;
}
