

.faq-container {
  display: flex;
  flex-direction: column;
  text-align: left;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #ffffff;
  justify-content: flex-start;
  gap:20px;
  padding:20px;
}

.faq-container h5 {
width:100%;
  text-align: left; /* h5 etiketini sola hizala */
}

 input {
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

 textarea {
  border: 1px solid #ddd;
  border-radius: 5px;
  min-height: 100px;
  resize: none;
}

.delete-button {
  padding: 8px 16px;
  background-color: #64558F;
  color: white;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  margin-left: auto; /* Butonu sağa dayalı yapar */
}

.delete-button:hover {
  background-color: #64558F;

}