.categoryContainer {
    display: flex;
    gap: 20px;
    padding: 20px 0;
}

.categoryKnowledge {
    flex: 1;
    padding-right: 20px;
}

.categoryKnowledge .categoryTitle {
    font-size: 1.5em;
    font-family: inherit;

    margin: 20px;
    margin-bottom: 10px;
    margin-left: 0;
}

.categoryKnowledge .categoryText {
    font-size: 0.9em;
    font-family: sans-serif;
    margin-left: 0;
}

.categorySelection {
    flex: 2;
    margin-top: 20px;
}

.categoryFormGroup {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ddd;
}

.categoryFormControl {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

.categoryFormGroup label {
    font-size: 16px;

    margin-bottom: -10px;
}

@media screen and (max-width: 768px) {
    .categoryContainer {
        flex-direction: column;
    }

    .categoryKnowledge {
        padding-right: 0;
    }
}
