.categoryContainer {
    transition: all 0.3s ease;

    display: flex;
    flex-direction: row;

    justify-content: left;
    align-items: flex-start;

    width: 100vw;
}

.categoryKnowledge {
    width: 260px;
    height: auto;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    margin: 20px;
    margin-top: 0;
}

.categoryKnowledge .categoryTitle {
    font-size: 1.5em;
    font-family:  inherit;

    margin: 30px;
    margin-bottom: 0;
    margin-left: 0;
}

.categoryKnowledge .categoryText {
    font-size: 0.9em;
    font-family: sans-serif;
    margin-left: 0;
}



.categorySelection {
    border: none;
    background-color:  white;
    border-radius: 10px;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px;

    justify-content: center;
    align-items: center;

    width: 480px;

    padding: 10px 20px;
    margin-top: 30px;
    margin-left: 20px;
}

.categorySelection .categoryFormGroup {
    width: 230px;
}

.categoryFormGroup label {
    font-size: 1.1em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    margin-bottom: -10px;
}

.categoryFormGroup .categoryFormControl {
    border: 1px solid blueviolet;
    border-radius: 5px;

    height: 60px;
    width: 230px;

    margin-top: 0;
    margin-bottom: 30px;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
}