.storyContainer {
    margin: 40px auto;
    background: #fff;
    border-radius: 10px;
}

.storyWrapper {
    display: flex;
    gap: 20px;
    margin-bottom: 10px;
}

.storyItem {
    flex: 1;
    border-radius: 10px;
    margin-bottom: 20px;
    background: #f9f9f9;
}

.storyTitle {
    flex: 1;
    margin-right: 20px;
    text-align: left;
}

.storyTitle h2 {
    margin-bottom: 10px;
}

.storyContent {
    flex: 2;
    margin-top: 20px;
    padding: 20px;
}


  .addButton {
    background-color: var(--primary-color);
    align-items: center;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
  }
  
  .addButton:hover {
    background-color: var(--primary-color-hover);
  }
 

@media screen and (max-width: 768px) {
    .storyWrapper {
        flex-direction: column;
    }

    .storyContent {
        padding: 5px;
    }
}
