.story-container {
    max-width: 800px;
    margin: 20px auto;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .story-wrapper {
    display: flex;
    gap: 20px;
    margin-bottom: 10px;
  }
  
  .story-title {
    flex:1;
    margin-right: 20px;
    text-align: left;
  }
  
  .story-title h2 {
  margin-bottom:10px;
  }

  .story-content {
    flex:2;
    margin-top: 20px;
    padding:20px;
  }
  
  /*
  .add-button {
    background-color: #5e3c8f;
    align-items: center;
    color: white;
    padding: 12px;
    border: none;
    margin-top: 10px;
  }
  
  .add-button:hover {
    background-color: #5e3c8f;
  }
  */