.login-container {
    border: 1px solid rgba(137, 43, 226, 0.132);
    background-color: rgba(112, 77, 145, 0.065);
    border-radius: 10px;
    transition: all 0.3s ease;

    display: flex;
    flex-direction: column;
    /*determines how to place it(the elements in the flexbox or grid layout container) on the horizontal axis.*/
    justify-content: center;    
    /*determines how the elements in the flexbox or grid layout container are aligned on the vertical axis */
    align-items: center;

    /* display: block;    */

    position: absolute;
    top: 50%;
    left: 50%;
    /* translate(-50%, -50%) statement, the width of the element 50% left, 50% of the height of upwards shifts.
    In this way, the center point of the element comes exactly in the middle of the page. */
    transform: translate(-50%, -50%);   

    width: 30%;
    height: auto;

    padding: 30px;

    font-family: inherit;
}

.login-title {
    text-align: left;
    width: 85%;
    font-size: 2.5em;;
    margin-bottom: 15px;
    margin-top: -10px;
}

.login-container form {
    display: flex; /* Flexbox kullanarak hizalamak için */
    flex-direction: column; /* Dikey yönde yerleştirir */
    align-items: center; /* İçindeki elemanları ortalar */
    width: 100%; /* Formun genişliğini ayarlayın */
}


.login-container input {
    display: block;
    border: 1px solid rgba(222, 184, 135, 0.388);
    border-radius: 2px;
    color: black;
    width: 85%;

    padding: 15px;
    margin: 8px;

    font-family: sans-serif;
}

.login-container input:hover {
    border: 1px solid burlywood;
}

.login-button {
    border: 1px solid burlywood;
    border-radius: 1px;
    background-color: burlywood;
    color: white;
    width: 85%;

    padding: 12px;
    margin: 10px;

    font-family: sans-serif;
    font-size: 1.2em;
}

.login-button:hover {
    background-color: rgb(194, 159, 112);
    cursor: pointer;
}

.remember-me {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: left;
    width: 85%;
    margin: 5px;
}

.remember-button {
    border: 1px solid burlywood;
    border-radius: 2px;
    width: 22px;
    height: 20px;
    margin-right: 15px;
}

.remember-button.confirmed {
    background-color: rgba(137, 43, 226, 0.323);
    color: blueviolet;
}

.remember-text {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.04em;
}

.divider {
    width: 85%;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.208);
    margin: 25px;
}

.redirecting-signup {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 85%;
    font-size: 1.1em;
    font-family: sans-serif;
}

.signup-link {
    margin-left: 10px;
    color: blueviolet;
}

.signup-text {
    color: black;
}

