.FundingMenuContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);

    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99999;
}

.FundingMenuContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    background: white;
    border-radius: 10px;
    padding: 20px;

    width: 35%;

    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.533);
}

.FundingMenuContent .knowledgeSection {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    width: 100%;
}

.FundingMenuContent .knowledgeSection .knowledge {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    width: 70%;
}

.FundingMenuContent .knowledgeSection .picture {
    height: 135px;
    border-radius: 5px;

    margin-right: 10px;
}

.knowledgeSection .knowledge .projectTitle {
    font-size: 1.6em;
    margin-bottom: 0;
    margin-top: 0;
}

.knowledgeSection .knowledge .projectDescription {
    font-size: 1.1em;
    margin-bottom: 0;
    padding: 0 1rem;
}

.knowledgeSection .knowledge .projectBackers {
    background: var(--primary-color);
    color: white;
    border-radius: 7px;
    font-size: 1em;
    padding: 5px;
}

.FundingMenuContent form {
    width: 100%;
    display: flex;
}

.FundingMenuContent .fundingSection {
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;

    margin-top: 10px;
    gap: 10px;
}

.FundingMenuContent .fundingSection .entry {
    display: flex;
    flex-direction: column;
}

.FundingMenuContent .fundingSection .label2 {
    font-size: 1.3em;
    font-weight: bold;
}

.FundingMenuContent .fundingSection input {
    border: 1px solid var(--primary-color);
    border-radius: 3px;

    height: 45px;
    width: 150px;
}

.FundingMenuContent .fundingSection .buttons {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.FundingMenuContent .fundingSection .buttons .fundingButton {
    border: 1px solid white;
    background-color: var(--primary-color);
    color: white;
    border-radius: 5px;

    font-size: 1em;

    height: 50px;
    width: 110px;
    transition: all 0.3s ease;
}

.FundingMenuContent .fundingSection .buttons .fundingButton:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.FundingMenuContent .cancelButton {
    border: 1px solid var(--primary-color);
    background-color: white;
    color: black;
    border-radius: 5px;

    font-size: 1em;

    height: 50px;
    width: 110px;
}

.FundingMenuContent .fundingSection .cancelButton:hover {
    cursor: pointer;
}

.FundingMenuContent .fundingSection .fundingButton:hover {
    cursor: pointer;
    background-color: var(--primary-color-hover);
}

@media screen and (max-width: 1200px) {
    .FundingMenuContent {
        width: 40%;
    }

    .FundingMenuContent .knowledgeSection .picture {
        height: 120px;
        margin-right: 5px;
    }

    .knowledgeSection .knowledge .projectTitle {
        font-size: 1.5em;
    }

    .knowledgeSection .knowledge .projectDescription {
        font-size: 1em;
    }

    .FundingMenuContent .fundingSection .label2 {
        font-size: 1.2em;
    }

    .FundingMenuContent .fundingSection input {
        width: 130px;
    }

    .FundingMenuContent .fundingSection .buttons .fundingButton {
        width: 100px;
    }

    .FundingMenuContent .cancelButton {
        width: 100px;
    }
}

@media screen and (max-width: 992px) {
    .FundingMenuContent {
        width: 47%;
    }

    .knowledgeSection .knowledge .projectDescription {
        font-size: 1em;
    }

    .FundingMenuContent .fundingSection input {
        width: 120px;
    }

    .FundingMenuContent .fundingSection .buttons .fundingButton {
        width: 95px;
    }

    .FundingMenuContent .cancelButton {
        width: 95px;
    }
}

@media screen and (max-width: 768px) {
    .FundingMenuContent {
        width: 53%;
    }

    .knowledgeSection .knowledge .projectDescription {
        font-size: 0.9em;
    }

    .FundingMenuContent .knowledgeSection .picture {
        height: 110px;
    }

    .knowledgeSection .knowledge .projectTitle {
        font-size: 1.3em;
    }

    .knowledgeSection .knowledge .projectBackers {
        font-size: 0.8em;
    }

    .FundingMenuContent .fundingSection .label2 {
        font-size: 1.1em;
    }

    .FundingMenuContent .fundingSection input {
        width: 100px;
    }

    .FundingMenuContent .fundingSection .buttons {
        gap: 5px;
    }

    .FundingMenuContent .fundingSection .buttons .fundingButton {
        width: 80px;
    }

    .FundingMenuContent .cancelButton {
        width: 80px;
    }
}

@media screen and (max-width: 576px) {
    .FundingMenuContent {
        width: 70%;
    }

    .FundingMenuContent .knowledgeSection {
        flex-direction: column-reverse;
        align-items: center;
    }

    .FundingMenuContent .fundingSection {
        flex-direction: column;
        align-items: flex-start;

        margin-top: 5px;
    }

    .FundingMenuContent .knowledgeSection .knowledge {
        width: 100%;
        margin-top: 10px;
    }

    .FundingMenuContent .knowledgeSection .picture {
        height: 110px;
    }

    .FundingMenuContent .fundingSection input {
        height: 40px;
    }

    .FundingMenuContent .fundingSection .buttons .fundingButton {
        width: 100%;
        height: 45px;

        font-size: 0.8em;
    }

    .FundingMenuContent .cancelButton {
        width: 100%;
        height: 45px;

        font-size: 0.9em;
    }
}
