.navbar {
    display: flex;
    align-items: center;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #ffffff;
    padding: 10px 0;
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    justify-content: space-between;
}

.fundchainText {
    padding: 0 20px;
    margin: 0;
    font-size: 40px;
    font-weight: 700;
    color: var(--primary-color);
    text-decoration: none;
}

.fundchainText:hover {
    color: #796e99;
    cursor: pointer;
}

.searchContainer {
    position: relative;
    display: flex;
    align-items: center;
}

.searchInput {
    padding: 0 20px;
    padding-right: 40px;
    width: 500px;
    height: 40px;
    border: 1px solid #cccccc;
    border-radius: 40px;
    font-size: 16px;
    outline: none;
    flex: 1;
}

.searchInput::placeholder {
    color: #999999;
}

.deleteIcon {
    position: absolute;
    right: 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.deleteIcon img {
    width: 15px;
    height: 15px;
}

.navbarButtons {
    padding: 0 20px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.startProjectButton,
.loginButton {
    padding: 10px 20px;
    flex: 0 0 auto;
    cursor: pointer;
    border-radius: 8px;
    outline: none;
    text-decoration: none;
}

.startProjectButton {
    color: var(--primary-color);
    background-color: #ffffff;
    border: 2px solid var(--primary-color);
    transition: all 0.3s ease;
    font-size: 16px;
}

.startProjectButton:hover {
    background-color: var(--primary-color);
    border: 2px solid var(--primary-color);
    color: white;
}

.loginButton {
    color: white;
    background-color: #65558f;
    border: none;
    transition: all 0.3s ease;
}

.loginButton:hover {
    background-color: var(--primary-color-hover);
    color: white;
}

.profileImage {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border-color: var(--primary-color);
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    background-size: cover;
    background-position: center;
}

.profileImage:hover {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.deleteIcon a {
    color: rgba(0, 0, 0, 0.8);
    transition: all 0.3s ease;
}

.deleteIcon a:hover {
    color: darkgray;
}

.hamburger {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

.hamburger > a > i {
    font-size: 25px;
}

.hamburger > a {
    color: var(--primary-color);
    cursor: pointer;
    transition: all 0.3s ease;
}

.hamburger > a:hover {
    color: #796e99;
}

.menu {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 20px;
}

.menu > .searchContainer {
    width: 300px;
    margin-right: 20px;
}

.menu > .searchContainer > .searchInput {
    width: 100%;
}

.menu > .navbarButtons {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
}

/* Dropdown Card */
.dropdownCard {
    position: absolute;
    top: 70px;
    right: 5px;
    margin-top: 10px;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    width: 200px;
    z-index: 10;
    animation: openMenu 0.3s ease;
}

@keyframes openMenu {
    from {
        transform: scaleY(0);
        transform-origin: top;
    }
    to {
        transform: scaleY(1);
        transform-origin: top;
    }
}

/* Dropdown List */
.dropdownCard ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.dropdownCard li {
    padding: 10px 15px;
    cursor: pointer;
    font-size: 16px;
    color: #333;
    transition: background-color 0.2s ease;
}

.dropdownCard li:hover {
    background-color: #f5f5f5;
}

@media screen and (max-width: 576px) {
    .fundchainText {
        font-size: 36px;
    }

    .dropdownCard {
        top: 100px;
    }
}
