.navbar {
    display: flex;
    align-items: center;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #ffffff;
    padding: 10px 0;
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    justify-content: space-between;
}

.fundchainText {
    padding: 0 20px;
    margin: 0;
    font-size: 40px;
    font-weight: 700;
    color: #65558f;
    text-decoration: none;
}

.fundchainText:hover {
    color: #796e99;
    cursor: pointer;
}

.searchContainer {
    position: relative;
    display: flex;
    align-items: center;
}

.searchInput {
    padding: 0 20px;
    padding-right: 40px;
    width: 500px;
    height: 40px;
    border: 1px solid #cccccc;
    border-radius: 40px;
    font-size: 16px;
    outline: none;
    flex: 1;
}

.searchInput::placeholder {
    color: #999999;
}

.deleteIcon {
    position: absolute;
    right: 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.deleteIcon img {
    width: 15px;
    height: 15px;
}

.navbarButtons {
    padding: 0 20px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.startProjectButton,
.loginButton {
    padding: 10px 20px;
    flex: 0 0 auto;
    cursor: pointer;
    border-radius: 40px;
    outline: none;
    text-decoration: none;
}

.startProjectButton {
    color: #65558f;
    background-color: #ffffff;
    border: 2px solid #65558f;
    transition: all 0.3s ease;
}

.startProjectButton:hover {
    background-color: #65558f;
    border: 2px solid #65558f;
    color: white;
}

.loginButton {
    color: white;
    background-color: #65558f;
    border: none;
    transition: all 0.3s ease;
}

.loginButton:hover {
    background-color: #4c3c78;
    color: white;
}

.profileImage {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border-color: #65558f;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    background-image: url("https://i.imgur.com/cBselON.png");
    background-size: cover;
}

.profileImage:hover {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.deleteIcon a {
    color: rgba(0, 0, 0, 0.8);
    transition: all 0.3s ease;
}

.deleteIcon a:hover {
    color: darkgray;
}

.hamburger {
    padding: 20px;
}

.hamburger > a > i {
    font-size: 25px;
}

.hamburger > a {
    color: #65558f;
    cursor: pointer;
    transition: all 0.3s ease;
}

.hamburger > a:hover {
    color: #796e99;
}

.menu {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 20px;
}

.menu > .searchContainer {
    width: 300px;
    margin-right: 20px;
}

.menu > .searchContainer > .searchInput {
    width: 100%;
}

.menu > .navbarButtons {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
}
