.profileCard {
    width: 400px;
    padding: 20px;
    padding-bottom: 40px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    text-align: center;
    color: #333;
}

.profileFrame {
    padding: 50px 0;
    background-color: transparent;
    border: 1px solid #e0e0e0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
    margin-bottom: 50px;
    border-radius: 4px;
    position: relative;
    top: 30px;
}

.profileImage img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    z-index: 1;
}

.profileInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profileInfo h2 {
    font-size: 20px;
    color: #333;
    margin: 20px 0 0 0;
}

.profileInfo p {
    font-size: 14px;
    color: #666;
    margin: 5px 0;
}

.rating {
    display: flex;
    align-items: center;
}

.ratingValue {
    margin-left: 6px;
    font-size: 14px;
    color: #666;
}

.rating .star {
    font-size: 24px;
    color: #ccc;
    position: relative;
}

.rating .star.full {
    color: gold;
}

.rating .star.half {
    color: #ccc;
    overflow: hidden;
}

.rating .star.half::before {
    content: "★";
    color: gold;
    position: absolute;
    left: 0;
    width: 50%;
    overflow: hidden;
}

.profileDescription p {
    font-size: 14px;
    color: #666;
    margin: 15px 0 0 0;
}

.seeMore {
    color: var(--primary-color);
    cursor: pointer;
    font-weight: bold;
}

.seeMore:hover {
    color: var(--primary-color-hover);
}

@media screen and (max-width: 768px) {
    .profileCard {
        max-width: 400px;
        width: 100%;
    }

    .profileFrame {
        padding: 20px 0;
    }

    .profileImage img {
        width: 60px;
        height: 60px;
    }

    .profileInfo h2 {
        font-size: 18px;
    }

    .profileInfo p {
        font-size: 12px;
    }

    .ratingValue {
        font-size: 12px;
    }

    .rating .star {
        font-size: 20px;
    }

    .profileDescription p {
        font-size: 12px;
    }
}
