.intro {
    display: flex;
    flex-direction: column; /* Başlığı üstte, video ve fonlama altta olacak şekilde yerleştir */
    padding: 20px;
    background-color: #fff;
    color: #000000;
    font-family: Arial, sans-serif;
}

.title {
    text-align: center;
    width: 100%; /* Başlık alanının tam genişlikte olmasını sağlar */
}

.video-funding-container {
    display: flex; /* Video ve fonlama alanlarını yan yana yerleştirir */
    justify-content: space-around;
    gap: 20px;
    padding: 20px;
    border-radius: 8px;
}

.video {
    flex: 0 0 60%; /* Genişliği %60 yap */
    display: flex; /* İçeriklerin düzgün yerleşimi için */
    justify-content: flex-start; /* Videoyu sola dayayın */
}

.project-video {
    width: 100%; /* Videoyu kapsayıcısına göre genişlet */
    border-radius: 8px;
    border: 2px solid var(--primary-color);
}

.info-container {
    display: flex;
    align-items: center; /* Dikeyde ortala */
    justify-content: flex-start; /* Videoyu sola dayayın */
}

.info-item {
    display: flex;
    padding: 20px;
    align-items: center; /* İkon ve metin dikeyde ortalansın */
}

.divider {
    width: 1px; /* Dikey çizginin genişliği */
    height: 35px; /* Dikey çizginin yüksekliği */
    background-color: #ccc; /* Çizgi rengi */
    margin: 0 10px; /* Çizgi ile diğer elemanlar arasında boşluk */
}

.info-item {
    display: flex;
    align-items: center;
}

.info-item i {
    margin-right: 10px; /* İkon ile metin arasında boşluk */
}

@media screen and (max-width: 992px) {
    .video-funding-container {
        flex-direction: column; /* Video ve fonlama alanlarını alt alta yerleştir */
    }

    .video {
        flex: 0 0 100%; /* Genişliği %100 yap */
    }

    .info-item {
        padding: 10px;
    }

    .info-item i,
    .info-item span {
        font-size: 14px;
    }
}
