.progressContainer {
    display: flex;
    flex-direction: column;
    width: 400px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    color: #333;
    text-align: center;
}

.progressBackground {
    width: 100%;
    height: 5px;
    background-color: #e0e0e0;
    border-radius: 2.5px;
    overflow: hidden;
    margin-bottom: 20px;
}

.progressBar {
    height: 5px;
    background-color: var(--primary-color);
    border-radius: 2.5px;
}

.progressInfo {
    text-align: left;
}

.progressInfo h1 {
    font-size: 24px;
    color: var(--primary-color);
    margin: 0;
}

.progressInfo p {
    margin: 5px 0;
    font-size: 14px;
    color: #666;
}

.backButton {
    width: 100%;
    padding: 10px;
    color: white;
    background-color: var(--primary-color);
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 15px;
}

.shareButton,
.remindButton {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    color: var(--primary-color);
    border-radius: 5px;
    background-color: white;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

.saved {
    color: white;
    background-color: var(--primary-color);
}

.buttons {
    margin-top: auto;
}

.shareButton:hover,
.remindButton:hover {
    background-color: var(--primary-color);
    color: white;
}

.shareButton:active,
.remindButton:active {
    background-color: var(--primary-color-hover);
}

.backButton:hover {
    background-color: var(--primary-color-hover);
    color: white;
}

.backButton:active,
.remindButton:active {
    background-color: var(--primary-color-click);
}

@media screen and (max-width: 992px) {
    .progressContainer {
        width: 100%;
        align-items: center;
    }

    .progressInfo {
        text-align: center;
    }

    .buttons {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 80%;
    }
}

@media screen and (max-width: 576px) {
    .buttons {
        width: 100%;
    }
}
