/* Footer.module.css */

.footerContainer {
    display: flex;
    padding: 30px;
    justify-content: space-between;
    background-color: #ffffff;
    color: #000000;
    border-top: 1px solid #d9d9d9;
    bottom: 0;
    position: inherit;
    width: 100%;
    margin-bottom: 100px;
}

.footerBlock {
    flex: 1;
}

.footerBlock h4 {
    margin-bottom: 20px;
}

.footerBlock a {
    display: block;
    color: black;
    text-decoration: none;
    font-size: 16px;
    margin-bottom: 5px;
}

.socialIcons {
    display: flex;
    justify-content: flex-start;
    font-size: 25px;
    margin-top: 20px;
}

.socialIcons a {
    margin-right: 10px;
    color: black;
}

.logo {
    background-color: black;
    width: 40px;
    height: 40px;
    margin-bottom: 10px;
}

@media (max-width: 576px) {
    .footerContainer {
        flex-direction: column;
        padding: 50px;
    }

    .footerBlock {
        flex: 1;
    }

    .footerBlock h4 {
        margin-bottom: 20px;
    }

    .footerBlock a {
        display: block;
        color: black;
        text-decoration: none;
        font-size: 16px;
        margin-bottom: 5px;
    }

    .socialIcons {
        display: flex;
        justify-content: flex-start;
        font-size: 25px;
        margin-top: 20px;
    }

    .socialIcons a {
        margin-right: 10px;
        color: black;
    }

    .logo {
        background-color: black;
        width: 40px;
        height: 40px;
        margin-bottom: 10px;
    }
}
