.collaboratorContainer {
    transition: all 0.3s ease;

    display: flex;
    flex-direction: row;

    justify-content: left;
    align-items: flex-start;

    width: 100vw;
}

.collaboratorKnowledge {
    width: 400px;
    height: auto;

    margin: 40px;
    margin-top: 0;
}

.collaboratorKnowledge .collaboratorTitle {
    font-size: 1.8em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.collaboratorKnowledge .collaboratorText {
    font-size: 1.1em;
    font-family: sans-serif;
}


.collaboratorDisplay {
    border: 1px solid white;
    background-color:  rgba(137, 43, 226, 0.15);
    border-radius: 10px;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    width: 880px;
    padding: 25px 50px;
    margin-top: 30px;
}

.collaboratorDisplayText {
    font-size: 1.2em;
    font-family: sans-serif;
}

.collaboratorButton {
    border: 1px solid blueviolet;
    background-color: blueviolet;

    border-radius: 5px;

    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.1em;

    width: 250px;
    height: 60px;
}