:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    --primary-color: #65558f;
    --primary-color-hover: #4c3c78;
    --primary-color-click: #3a2b5e;
}

.content {
    min-height: 100vh; /* Make content at least the height of the viewport */
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
