.section {
    margin: 30px 0;
    padding: 20px 0;
    border-top: 1px solid #ddd;
}

.section h2 {
    margin-bottom: 10px;
}

.uploadWrapper {
    border: 2px dashed #ccc;
    padding: 20px;
    text-align: center;
    background-color: #f9f9f9;
    border-radius: 5px;
}

.button {
    width: 100%;
    background-color: var(--primary-color);
    color: #fff;
    padding: 10px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: var(--primary-color-hover);
}

.previewImage {
    max-width: 100%;
    max-height: 480px;
    object-fit: contain;
    margin-top: 10px;
}