.story-component {
    display: flex;
    flex-direction: column;
    text-align: left;
    border: 1px solid #ddd;
    border-radius: 5px;
    justify-content: flex-start;
    gap: 20px;
    padding: 20px;
}

.story-component input {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.story-component textarea {
    display: flex;
    border: 1px solid #ddd;
    border-radius: 5px;
    min-height: 100px;
    padding: 0; /* tasmayi engellemek icin */
    margin: 0; /* tasmayi engellemek icin */
    padding: 10px; /* cursor icin */
    resize: none;
}
